RewriteEngine On
Header set Access-Control-Allow-Origin "*"
Header add Access-Control-Allow-Headers "origin, x-requested-with, content-type"
Header add Access-Control-Allow-Methods "PUT, GET, POST, DELETE, OPTIONS"
RewriteRule ^block/(.*)$ index.php?phash=$1&module=blockchain_block
RewriteRule ^tx/(.*)$ index.php?phash=$1&module=blockchain_transaction
RewriteRule ^pools$ index.php?module=pools
RewriteRule ^api$ index.php?module=api
RewriteRule ^paymentid/(.*)$ index.php?phash=$1&module=blockchain_payment_id
RewriteRule ^txviewer$ txviewer/index.html
