remote:
  host: "s229.admin"
  user: "admin"
  path: "/home/admin/test.easypool.pro/be"
  port: "2188"
behaviour:
  uploadOnSave: true
  syncDownOnOpen: false
  forgetConsole: false
  autoHideConsole: true
  alwaysSyncAll: true
option:
  deleteFiles: true
  exclude: [
    ".git"
    "node_modules"
    "tmp"
    "vendor"
  ]
